.body *{
  margin: 0px;
  padding: 0px;
  font-family: 'Lato',
  sans-serif;
  font-family: 'Square Peg',
  cursive;
  background-color: black;
}

div.row{
  margin-right: 0px;
}

nav img{
  width: 40px;
  margin-left: 30px;
}
nav .logo{
  font:normal normal 50px/58px Square Peg;
  text-shadow: 0px 2px 2px rgb(40, 38, 41);
  vertical-align: middle;
}
nav .navbar-nav{
  margin-right: 30px;
}
nav .nav-link {
  font-size: 20px;
  font-family: lato;
  font-weight: 400;
}
.nav-link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
}

.add-color{
  background-color: rgb(0, 0, 0, 0.8);
}

main{
  background-color: rgb(0, 0, 0) !important; 
}
section{
  margin: 0px 100px;
  padding-top: 50px;
}
h1{
  font-size: 30px;
  font-family: lato;
  font-weight: 700;
}
hr{
  margin: 50px  0px !important;
}

.nosotros .card-header, .nosotros .card-footer, .destacados .card-paisaje, .contacto .btn-enviar, footer{
  background-color: #0BCAEF;
}
.nosotros .card-text, .destacados .cards .contacto form{
  font-size: 19px;
  font-family: lato;
  font-weight: 400;
}

.destacados .card-img-top{
  height: 215px;
}

.contacto .form-control{
  margin-bottom: 15px;
}

footer .iconos{
  margin-top: 10px;
  text-shadow: 0px 2px 2px rgb(40, 38, 41);
}
footer .logo{
  font:normal normal 35px/43px Square Peg;
  text-shadow: 0px 2px 2px rgb(40, 38, 41);
  vertical-align: middle;
}

@media (max-width:1024px) {
  section{
  margin: 0px 50px;
  }
  hr{
  margin: 25px  0px !important;
  }
}

@media (max-width:767px) {
  nav .navbar-collapse {
    background-color: rgba(138, 151, 156, 0.5);
  }  
  nav .logo{
  font:normal normal 40px/48px Square Peg;
}
  section{
    margin: 0px 20px;
  }
  h1{
    font-size: 20px;
  }
  .nosotros .card-text, .destacados .cards .contacto form{
    font-size: 12px;
    font-family: lato;
    font-weight: 400;
  }
}

@media (max-width:426px) {
  .nosotros, #nav-nosotros{
    display: none;
  }

}